---
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const allTags = allPosts.map((tag) => tag.data.tags).flat();

console.log(allTags);
---

<span> </span>
